In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv('dataset_final.csv')

In [3]:
'''
0. Breve exploración del dataset
'''
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
df.shape

# Hay 800

(800, 13)

In [5]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
tipo_poison = df[df['Type 1'] == 'Poison']
print(tipo_poison.shape)

#Hay 28 (Type 1)

(28, 13)

In [6]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
tipos_diferentes = df['Type 1'].unique()
print(tipos_diferentes)

# Hay 18 tipos diferentes de pokemon (Type 1)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

In [7]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''

frecuencia = df['Type 1'].value_counts()
print(frecuencia)

# {'Water': 112, 'Normal': 98, 'Grass': 70, 'Bug': 69, 'Psychic': 57, 'Fire': 52, 'Electric': 44, 'Rock': 44, 'Dragon': 32, 'Ground': 32, 'Ghost': 32, 'Dark': 31, 'Poison': 28, 'Steel': 27, 'Fighting': 27, 'Ice': 24, 'Fairy': 17, 'Flying': 4}

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

#El tipo con más pokemones es Water con 112 pokémon (Type1)

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

'\n2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)\n'

In [8]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
rapidez = df[['Name', 'Speed']].sort_values('Speed', ascending= False)

print(rapidez)

# El pokemón más rápido es DeoxysSpeed Forme con una velocidad de 180

                          Name  Speed
431          DeoxysSpeed Forme    180
315                    Ninjask    160
428         DeoxysNormal Forme    150
154  AerodactylMega Aerodactyl    150
71       AlakazamMega Alakazam    150
..                         ...    ...
658                  Ferroseed     10
486                     Bonsly     10
359                   Trapinch     10
230                    Shuckle      5
495                   Munchlax      5

[800 rows x 2 columns]

In [9]:
'''
4. ¿Cuántos pokemon tienen una defensa superior a 100?
'''

defensa_superior_100 = df[df ['Defense'] > 100]
print(defensa_superior_100)

# 123 pokemones

'''
4.1 ¿Cuántos pokemon tienen una velocidad superior a 100?
'''
velocidad_superior_100 = df[df ['Speed'] > 100]
print(velocidad_superior_100)

# Dado que está pregunta era igual a ala anterior, la cambié: 106 pokemones tienen una valocidad superior a 100

       #                       Name  Type 1  Type 2  Total   HP  Attack  \
3      3      VenusaurMega Venusaur   Grass  Poison    625   80     100
7      6  CharizardMega Charizard X    Fire  Dragon    634   78     130
12     9    BlastoiseMega Blastoise   Water     NaN    630   79     103
33    28                  Sandslash  Ground     NaN    450   75     100
81    75                   Graveler    Rock  Ground    390   55      95
..   ...                        ...     ...     ...    ...  ...     ...
789  713                    Avalugg     Ice     NaN    514   95     117
794  718           Zygarde50% Forme  Dragon  Ground    600  108     100
795  719                    Diancie    Rock   Fairy    600   50     100
796  719        DiancieMega Diancie    Rock   Fairy    700   50     160
799  721                  Volcanion    Fire   Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
3        123      122      120     80           1      False
7        111      130       85    100           1      False
12       120      135      115     78           1      False
33       110       45       55     65           1      False
81       115       45       45     35           1      False
..       ...      ...      ...    ...         ...        ...
789      184       44       46     28           6      False
794      121       81       95     95           6       True
795      150      100      150     50           6       True
796      110      160      110    110           6       True
799      120      130       90     70           6       True

[123 rows x 13 columns]
       #                   Name    Type 1  Type 2  Total  HP  Attack  Defense  \
19    15  BeedrillMega Beedrill       Bug  Poison    495  65     150       40
22    18                Pidgeot    Normal  Flying    479  83      80       75
23    18    PidgeotMega Pidgeot    Normal  Flying    579  83      80       80
31    26                 Raichu  Electric     NaN    485  60      90       55
56    51                Dugtrio    Ground     NaN    405  35      80       50
..   ...                    ...       ...     ...    ...  ..     ...      ...
765  695              Heliolisk  Electric  Normal    481  62      55       52
771  701               Hawlucha  Fighting  Flying    500  78      92       75
772  702                Dedenne  Electric   Fairy    431  67      58       57
791  715                Noivern    Flying  Dragon    535  85      70       80
796  719    DiancieMega Diancie      Rock   Fairy    700  50     160      110

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
19        15       80    145           1      False
22        70       70    101           1      False
23       135       80    121           1      False
31        90       80    110           1      False
56        50       70    120           1      False
..       ...      ...    ...         ...        ...
765      109       94    109           6      False
771       74       63    118           6      False
772       81       67    101           6      False
791       97       80    123           6      False
796      160      110    110           6       True

[106 rows x 13 columns]

In [10]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''

defensa_y_vel_sup_100 = df[(df['Defense'] > 100) & (df['Speed'] > 100)]
print(defensa_y_vel_sup_100)

# 9 Pokemones

       #                     Name   Type 1    Type 2  Total   HP  Attack  \
137  127        PinsirMega Pinsir      Bug    Flying    600   65     155
269  249                    Lugia  Psychic    Flying    680  106      90
409  373  SalamenceMega Salamence   Dragon    Flying    700   95     145
413  376  MetagrossMega Metagross    Steel   Psychic    700   80     145
418  380        LatiasMega Latias   Dragon   Psychic    700   80     100
552  493                   Arceus   Normal       NaN    720  120     120
693  632                   Durant      Bug     Steel    484   58     109
699  638                 Cobalion    Steel  Fighting    580   91      90
796  719      DiancieMega Diancie     Rock     Fairy    700   50     160

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
137      120       65       90    105           1      False
269      130       90      154    110           2       True
409      130      120       90    120           3      False
413      150      105      110    110           3      False
418      120      140      150    110           3       True
552      120      120      120    120           4       True
693      112       48       48    109           5      False
699      129       90       72    108           5       True
796      110      160      110    110           6       True

In [11]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
#tipo_1 = df.sort_values('Type 1')
#print(tipo_1)

#tipo_2 = df.sort_values('Type 2')
#print(tipo_2)

tipos = df.sort_values(['Type 1', 'Type 2'])
print(tipos)

       #                     Name Type 1    Type 2  Total   HP  Attack  \
656  595                   Joltik    Bug  Electric    319   50      47
657  596               Galvantula    Bug  Electric    472   70      77
231  214                Heracross    Bug  Fighting    500   80     125
232  214  HeracrossMega Heracross    Bug  Fighting    600   80     185
697  636                 Larvesta    Bug      Fire    360   55      85
..   ...                      ...    ...       ...    ...  ...     ...
655  594                Alomomola  Water       NaN    470  165      75
724  656                  Froakie  Water       NaN    314   41      56
725  657                Frogadier  Water       NaN    405   54      63
762  692                Clauncher  Water       NaN    330   50      53
763  693                Clawitzer  Water       NaN    500   71      73

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
656       50       57       50     65           5      False
657       60       97       60    108           5      False
231       75       40       95     85           2      False
232      115       40      105     75           2      False
697       55       50       55     60           5      False
..       ...      ...      ...    ...         ...        ...
655       80       40       45     65           5      False
724       40       62       44     71           6      False
725       52       83       56     97           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False

[800 rows x 13 columns]

In [12]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
tipos = ['Water', 'Fire']
water_y_fire = df[df['Type 1'].isin(tipos)]
tamaño_del_df = print(water_y_fire.shape)

(164, 13)

In [13]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''

legendary = df[df['Legendary'] == True]
print(legendary)

       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]

In [14]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
cols = ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']

stats_legendary = legendary[cols].mean()

no_legendary = df[df['Legendary'] == False]
stats_no_legendary = no_legendary[cols].mean()

In [15]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87
'''
comparacion = df.groupby('Legendary')[cols].mean()
pd.set_option('display.width', 120)
print(comparacion)

                  HP      Attack    Defense     Sp. Atk     Sp. Def       Speed
Legendary
False      67.182313   75.669388  71.559184   68.454422   68.892517   65.455782
True       92.738462  116.676923  99.661538  122.184615  105.938462  100.184615

In [16]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que indique si el pokemon tiene dos tipos o no
'''
from numpy import where
df['Doble tipo'] = where(df['Type 2'].isnull(), False, True)

In [17]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False

In [18]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
doble_tipo = df[df['Doble tipo'] == True][['Name', 'Type 1', 'Type 2']]
doble_tipo.sort_values(['Type 1', 'Type 2', 'Name'])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [19]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']

# A. Una función que calcule el precio total de la compra (reduce)
get_value = lambda x: articulos[x]
precios_compra = list(map(get_value,compra))
total = reduce(lambda x, y: x + y, precios_compra, 0)

"""
Otra forma: total = sum(list(map(get_value,compra))
"""

# B. Una función que calcule el precio total de la compra con un descuento del 10%
descuento = list(map(lambda x: x - (x * 0.10), precios_compra))
total_descuento = reduce(lambda x, y: x + y, descuento, 0)

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€ (filter, reduce)

descuento_superior_a_100 = total_descuento if total > 100 else total

# D. Una función que calcule el precio total aplicando el IVA (21%)
precios_mas_iva = list(map(lambda x: x + (x * 0.21), precios_compra))
total_iva = reduce(lambda x, y: x + y, precios_mas_iva, 0)

# E.lista los artículos cuyo precio es superior a 20€

mayores_de_20 = list(filter(lambda x: x > 20, precios_compra))
mayores_de_20_list_iva = list(filter(lambda x: x > 20, precios_mas_iva))

In [20]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas.

 Define una funcion que reciba el curso y saque una lista en la que aparezcan nombre, apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

curso = '1' #Cambiar a '2' para saber datos del segundo curso.

promedio_calificaciones = lambda x: reduce(lambda x, y: x + y, x) / len(x)
nota = list(map(lambda x: (x[0], x[1], promedio_calificaciones(x[3])), filter(lambda x: x[2] == curso, alumnos)))

print(nota)

[('Juan', 'Pérez', 7.0), ('Luis', 'González', 7.0), ('Pedro', 'Rodríguez', 7.0), ('Marta', 'López', 7.0), ('Javier', 'Sánchez', 7.0), ('Sergio', 'Jiménez', 7.0), ('Pablo', 'Álvarez', 7.0)]